@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

body {
  background: #6b0700;
}

img{
    margin-left:620px;
    border:7px solid #f5ff69;
}

#countdown {
  color: #fff;
  font-size: 10vh;
  text-shadow: 2px 2px 2px black;
  text-align: center;
}



